
<!-- navigation-Menu -->
    <section class="navigation-bar">
        <a class="nav-lin" href="{% url 'home' %}">Courses</a>
        <a class="nav-lin" href="{% url 'home' %}">Projects</a>
        <a class="nav-lin" href="{% url 'home' %}">Contact</a>
{#        will show only when the user is authentificated#}
        {% if not request.user.is_authentificated %}
        <a class="nav-lin" href="{% url 'add-project' %}">Add Project</a>
        <a class="nav-lin" href="{% url 'inbox' %}">Inbox</a>
        {% endif %}
    </section>